<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= "#{name}" %>"><%= msg %></li>
        <a href="#" class="close" data-dismiss="alert">&#215;</a>
      </div>
    <% end %>
  </div>
</div>
